.sidebar-body {
    flex: 1;
    flex-basis: 50px;
    overflow-y: scroll;
    position: relative;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    &::-webkit-scrollbar {
        width: 5px;
        position: absolute;
    }
    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(136, 136, 136, 0.377);
    }
}