.navFeature {
    flex: 0;
    height: 100vh;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    position: relative;
    // perspective: 100px;
    z-index: 100;
    .logo {
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            fill: #0a80ff;
        }
    }
    ul,
    .list-feature {
        list-style: none;
        transition: all 200ms ease-in-out;
        flex-grow: 1;
        padding: 0px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .feature {
                padding: 10px 20px;
                margin: 0px 5px;
                color: black;
                svg {
                    width: 18px;
                }
                &.notify::after {
                    content: '';
                    height: 7px;
                    width: 7px;
                    background-color: #dc3545;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 10;
                    top: 10px;
                    right: 13px;
                    border: 3px solid white;
                }
            }
            .feature.active,
            .feature:hover {
                color: #0a80ff;
            }
            .feature.active {
                background-color: #e6e6e6;
                border-radius: 7px;
            }
        }
    }
    .user-menu {
        transition: all 200ms ease-in-out;
        margin-top: auto;
        ul {
            margin: 0px;
            li {
                margin: auto;
            }
        }
        .dropdown {
            margin: 20px auto;
            position: relative;
            .avt img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .dropmenu {
                padding: 10px 0px;
                position: absolute;
                top: 0px;
                transform: translate(10px, -95%);
                visibility: hidden;
                opacity: 0;
                width: 130px;
                background-color: white;
                border: #82828221 1px solid;
                box-shadow: 2px 2px 10px #82828259;
                border-radius: 10px;
                transition: all 0.2s;
                hr {
                    opacity: 0.3;
                }
                button {
                    width: 100%;
                    text-align: left;
                    padding: 5px 15px;
                    margin: 1px 0px;
                    background-color: white;
                    border: none;
                    font-size: 1em;
                    &:hover {
                        background-color: #e6e6e6;
                    }
                }
            }
        }
        .dropdown.show {
            .dropmenu {
                transform: translate(10px, -105%);
                visibility: visible;
                opacity: 1;
                z-index: 1000;
            }
        }
    }
}

#change-nav {
    position: absolute;
    top: -85px;
    outline: none;
    background-color: transparent;
    border: none;
    color: #0a80ff;
    font-size: 17px;
    text-shadow: 0px 5px 10px #0a80ff;
    transition: all 200ms ease-in-out;
    z-index: 10000;
}

@media only screen and (max-width: 824px) {
    .navFeature {
        flex-direction: column-reverse;
        align-items: center;
        height: max-content;
        border: none;
        .list-feature {
            padding: 8px 0px;
            margin: 0px;
            display: flex;
            width: 100%;
            justify-content: space-around;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            position: absolute;
            background-color: white;
            // z-index: 1;
        }
        .logo {
            display: none;
        }
        .user-menu {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            border-top: 1px solid #e6e6e6;
            position: absolute;
            background-color: white;
            z-index: -1;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 0px auto;
                li {
                    margin: 0px;
                }
                .dropdown {
                    margin: 5px;
                    .dropmenu {
                        right: 0px;
                    }
                }
            }
        }
    }
}